@import url("vars.css");
@import url("reset.css");

body {
	scroll-behavior: smooth;
	background-color: var(--bgc);
	color: var(--text-color);
	line-height: 1.2;
}
.wrapper {
	overflow: clip;
	display: grid;
	grid-template-columns: 270px auto;
	height: 100%;
}
[class*="__container"] {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}
