/* ============ aside ============ */
.aside {
	background-color: var(--color-dark-gray);
	padding: 30px 15px;
	overflow: auto;
	border-right: 1px solid var(--color-cadet-blue);
}
.aside__title {
	font-weight: 700;
	font-size: 20px;
}
.aside__title:not(:last-child) {
	margin-bottom: 30px;
}
.aside__item {
	padding-left: 10px;
	position: relative;
}
.aside__item a.active {
	color: var(--color-cadet-blue);
	text-decoration: underline;
}
.aside__item::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 1px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: var(--color-cadet-blue);
}
.aside__item:not(:last-child),
.aside__item a:not(:last-child) {
	margin-bottom: 10px;
}

.aside__item a {
	display: inline-block;
}
.aside__item a:hover {
	text-decoration: underline;
}
/* ============ MAIN ============ */
.main {
	overflow: auto;
	padding-top: 40px;
	padding-bottom: 40px;
	scroll-behavior: smooth;
}
.main__title {
	text-align: center;
	font-weight: 700;
	font-size: 28px;
}
.main__title:not(:last-child) {
	margin-bottom: 40px;
}
.main__section:not(:last-child) {
	margin-bottom: 80px;
}
/* ============ section-lesson ============ */
.section-lesson__title {
	font-size: 24px;
	background-color: var(--color-charade);
	padding: 10px;
	border-radius: 3px;
}
.section-lesson__title:not(:last-child) {
	margin-bottom: 20px;
}
.section-lesson__description:not(:last-child),
.section-lesson__subtitle:not(:last-child) {
	margin-bottom: 15px;
}
.section-lesson__subtitle {
	font-size: 22px;
}
.section-lesson__row:not(:last-child) {
	margin-bottom: 30px;
}
/* ============ tasks ============ */
.tasks {
	list-style: none;
	counter-reset: count;
}
.tasks__item {
	counter-increment: count;
}

.tasks__item:not(:last-child) {
	margin-bottom: 20px;
}
/* ============ task ============ */
.task {
	display: flex;
	border: 2px solid var(--color-cadet-blue);
	border-radius: 5px;
	transition: background-colo 0.1s ease-in-out 0s, border-color 0.1s ease-in-out 0s;
}
.task::before {
	content: counter(count);

	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
	font-size: 20px;
	font-weight: 700;
	padding: 10px;
	background-color: var(--color-cloud-burst);
}
.task:hover {
	background-color: rgba(255, 255, 255, 0.05);
	border-color: var(--color-light);
}
.task__inner {
	flex-grow: 1;
	padding: 10px;
}
.task__title:not(:last-child),
.task__description:not(:last-child) {
	margin-bottom: 10px;
}
.task a:hover {
	text-decoration: underline;
}
