hr {
   width: 40%;
   margin: 30px auto;
   border: 1px solid #fff;
}
.item {
   padding: 20px;
   border-radius: 5px;
   border: 1px solid #fff;
   text-align: center;
   font-size: 24px;
}
.item:not(:last-child) {
   margin-bottom: 30px;
}
