.render {
   display: grid;
   gap: 30px 20px;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.card {
   /* cursor: pointer; */
   padding: 5px;
   border-radius: 9px;
   background-color: rgba(255, 255, 255, 0.1);
   border: 2px solid transparent;
   transition:
      border-color 0.2s ease-in-out 0s,
      background-color 0.2s ease-in-out 0s;
}
.card:not(.card--selected):hover {
   border-color: rgb(122, 128, 0);
}
.card--selected {
   border-color: green;
   background-color: rgba(255, 255, 255, 0.2);
}
.card__labels {
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
   margin-bottom: 15px;
}
.card__label {
   border-radius: 4px;
   padding: 5px;
   font-size: 16px;
   color: #fff;
   text-transform: uppercase;
   transition: opacity 0.2s ease-in-out 0s;
}
.card__label:hover {
   opacity: 0.8;
}
.card__label_discount {
   background-color: #bb8e14;
}
.card__label_top {
   background-color: #cd521e;
}
.card__picture {
   position: relative;
   height: 200px;
   margin-bottom: 20px;
}
.card__img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}
.card__title {
   font-size: 20px;
   text-decoration: underline transparent;
   transition: text-decoration-color 0.2s ease-in-out 0s;
   margin-bottom: 15px;
}
.card__title:hover {
   text-decoration: underline #fff;
}
.card__price {
   color: tomato;
   font-size: 30px;
}
